RewriteEngine On
RewriteRule ^registration/$ registration.php
RewriteRule ^registration$ registration.php
RewriteRule ^login$ login.php
RewriteRule ^login/$ login.php
RewriteRule ^cart$ cart.php
RewriteRule ^cart/$ cart.php
RewriteRule ^logout$ logout.php
RewriteRule ^logout/$ logout.php
RewriteRule ^order$ order.php
RewriteRule ^order/$ order.php
RewriteRule ^ordermanage$ ordermanage.php
RewriteRule ^ordermanage/$ ordermanage.php
RewriteRule ^productform$ productform.php
RewriteRule ^productform/$ productform.php
RewriteRule ^category/([0-9]+)/$ index.php?categoryid=$1
RewriteRule ^category/([0-9]+)$ index.php?categoryid=$1
RewriteRule ^product/([0-9]+)/$ product.php?id=$1
RewriteRule ^product/([0-9]+)$ product.php?id=$1