#registrationButton, #loginButton, .category input[type="submit"], #productFormButton, #orderForm input[type="submit"], #opinionButton
{
    filter: none;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlOTBmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
.input input.valid, #registrationForm input[type="checkbox"].valid
{
    box-shadow: 0px 0px 5px 2px rgba(0, 255, 0, 0.75) inset;
}
.input input.invalid, #registrationForm input[type="checkbox"].invalid
{
    box-shadow: 0px 0px 5px 2px rgba(255, 0, 0, 0.75) inset;
}
header nav
{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDBhMCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDBmZiIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
}
header nav > *
{
    float: left;
    position: relative;
    top: 50% !important;
    -ms-transform: translateY(-50%);
    margin: 0 auto;
}
header nav > form
{
    height: 29px;
    -ms-transform: translateY(-50%) translateY(7px);
}
header nav > form > label > span, #inputSearch
{
    display: block;
    float: left;
}
header nav > div > *
{
    float: left;
}
#inputSearch
{
    width: calc(100% - 16px);
}
#goToCart
{
    text-align: center;
}
#logInButton, #registerButton
{
    display: table;
    text-align: center;
}
#logInButton:hover, #registerButton:hover
{
    background-color: dodgerblue;
}
.sellerInfo
{
    position: absolute;
    bottom: 5px;
    width: calc(50% - 16px);
}
@media (min-width: 768px)
{
    #logInButton span:last-of-type, #registerButton span:last-of-type
    {   
        display: table-cell;
    }
    #logInButton span:first-of-type, #registerButton span:first-of-type
    {
        padding-right: 7px;
    }
    .sellerInfo
    {
        width: calc(65% - 15px);
    }
}
main .input-group
{
    font-size: 0;
}
main .input-group > input, main .input-group > div
{
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}
footer > div:first-of-type > div, .fullscreen img, #loadingScreen > div
{
    top: 50%;
    -ms-transform: translateY(-50%);
}
#loginForm > section
{
    float: left;
    text-align: center;
    height: 100%;
}
#loginForm > section:first-of-type > *
{
    margin-left: auto;
    margin-right: auto;
}
#loginForm > section:first-of-type > h1
{
    margin-top: 82px;
}
#loginForm > section:first-of-type > div + h1
{
    margin-top: 61px;
}
#loginForm section > div:last-of-type > div
{
    text-align: left;
}
.category
{
    text-align: center;
}
.categoryName
{
    width: 100%;
}
.product
{
    font-size: 0;
}
.productInfo, .priceInfo
{
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}
.productTitle
{
    font-size: 1rem;
}
.productInfo
{
    height: 100%;
}
.productReview a
{
    display: inline-block;
}
.productImage, .productDesc, .productReview div
{
    float: left;
}
.productImage a div
{
    font-size: 0;
    white-space: nowrap;
}
.fullscreen-active
{
    display: block;
}
.productDetails, .fullscreen img, #loadingScreen > div, .productResults
{
    position: relative;
}
footer > div:first-of-type > div
{
    position: absolute;
}
.productReview div *
{
    float: left;
}
.productReview > div:last-of-type, .sellerInfo > div:last-of-type > span:last-of-type, header nav > div, .searchPrice
{
    float: right;
}
.productReview > div:last-of-type > span, header nav > form
{
    float: none;
}
.productReview::after, .productDetails::after, .productView::after, #orderForm > fieldset .invalid-tooltip::before, .productResults::after
{
    content: '';
    display: block;
    clear: both;
}
.productFeatures, .productSummary, .optionLabel, .searchImage
{
    float: left;
}
.optionLabel > label, .cartItem > div, .categoryName h3, #logInButton span:first-of-type, #registerButton span:first-of-type
{
    display: table-cell;   
}
.categoryName h4
{
    display: table-row;
}
.productSection:first-of-type > div > div, header nav > form
{
    display: inline-block;
}
.optionLabel > label, .cartItem > div, .productSection:first-of-type > div > div, .categoryName h3, #logInButton span, #registerButton span, .productReview span, .productReview > span
{
    vertical-align: middle;
}
.optionLabel, .cartItem, .categoryName
{
    display: table;
}
.optionLabel > label
{
    height: 100%;
}
.optionLabel > label > span
{
    display: block;
}
.cartItemPrice, .optionLabel > label::before, .productSection:first-of-type > div, header nav
{
    text-align: center;
}
.quantity
{
    vertical-align: top;
}
#cartLoading > div
{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);

}
.cartLoadingActive
{
    display: block !important;
}
#searchResults
{
    text-align: left;
}
.searchTitle
{
    position: absolute;
    top: 50%;
    -ms-transform: translate(62px, -50%);
}
#searchResults > *
{
    display: block;
}
@media (max-width: 767.98px)
{
    .productSummary > div
    {
        float: left;
    }
}
.placeholder
{
    color: white;
    opacity: .7;
}
#logInButton::after
{
    display: table;
    position: relative;
    top: 18.1px;
}
@media (min-width: 992px)
{
    #loginForm > section:last-of-type
    {
        display: block;
    }
}